body{
  background-color: #171717;
}
.converter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 96vh;
  margin-top: -50px;
}
.divImg{
  margin-left: 36%; margin-bottom: 15px;
}
.img{
  width: 150px;
}
#fromCurrency, #toCurrency{
  height: 40px;
  border-radius: 10px;
  width: 250px;
  margin-left: 10px;
}
#amount, #convertedAmount{
  height: 40px;
  border-radius: 10px;
  width: 242px;
  margin-left: 10px;
  margin-top: 10px;
}
input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;
}
.btn{
  width: 512px;
  height: 40px;
  margin-left: 10px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #febb14;
  border: transparent;
  color: white;
}
.btn:hover{
  background-color: #ff8400;
  transition: 0.3s;
}
@media(max-width: 580px){
  #fromCurrency, #toCurrency{
    width: 220px;
  }
  #amount, #convertedAmount{
    width: 212px;
  }
  .btn{
    width: 452px;
  }
}
@media(max-width: 485px){
  #fromCurrency, #toCurrency{
    width: 180px;
  }
  #amount, #convertedAmount{
    width: 172px;
  }
  .btn{
    width: 372px;
  }
  .divImg{
    margin-left: 31%;
  }
}
@media(max-width: 400px){
  #fromCurrency, #toCurrency{
    width: 140px;
  }
  #amount, #convertedAmount{
    width: 132px;
  }
  .btn{
    width: 292px;
  }
  .divImg{
    margin-left: 27%;
  }
}